*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: grid;
  place-content: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1140px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 28px;
  margin-right: auto;
  margin-left: auto;
  inline-size: 1140px;
}

.result {
  display: grid;
  grid-template-rows: 387px 55px;
  gap: 16px;
  inline-size: 711px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.search-form {
  display: flex;
  flex-direction: row;
  gap: 39px;
  height: 55px;
  inline-size: 711px;
}

.content__list {
  position: relative;
  display: block;
  min-height: 298px;
  max-height: 298px;
  overflow: auto;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 32px;
}

.result__video-container {
  position: relative;
  max-height: 387px;
  inline-size: 711px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  height: 105px;
}

.content__video-card-thumbnail {
  align-self: center;
  width: 194px;
  height: 102px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  height: 100%;
  padding-left: 2px;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
  inline-size: 395px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card-title {
  padding-top: 3px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 16.2px;
}

.search-form__label {
  display: inline-flex;
  gap: 5px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.search-form__fieldset {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  border: none;
  padding-top: 2px;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  appearance: none;
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield {
  
}

.search-form__label:has(.search-form__textfield:active) {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.search-form__pseudo-checkbox::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #1b1919;
  outline: 1px solid #fff;
  background-color: transparent;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  background-color: #fff;
}

.button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.more-button {
  width: 100%;
  margin: 3px;
  inline-size: 393px;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  background-color: #545050;
}

.content__card-link_current {
  background: #545050;
}
